.search-item__description
{
    font-size: 13px;
    line-height: 1.6;

    margin-top: 10px;
    padding-top: 10px;

    color: #303030;
    border-top: 5px solid #fff;

    p
    {
        margin: 0;
    }

    code
    {
        display: inline;

        background-color: transparent;
        border: 1px solid $border-color;
    }
}
